#{extends 'Secure/layout.html' /}

<div id="login">

    <h1>&{'forgot.password.title'}</h1>

    #{form @doUnlockAccount()}

    #{if flash.error}
    <p class="error">
        ${messages.get(flash.error)}
    </p>
    #{/if}
    #{if flash.success}
    <p class="success">
        ${messages.get(flash.success)}
    </p>
    #{/if}

    <p id="username-field">
        <label for="email">&{'forgot.password.username'}</label>
        <input type="text" name="email" id="email" value="${flash.username}" />
    </p>
    <p id="signin-field">
        <input type="submit" id="signin" value="&{'forgot.password.submit'}" />
    </p>
    #{/form}

    <p>
        <a href="@{Secure.login()}">&{'secure.login'}</a>
    </p>

    <p>
        <a href="@{Enrolling.forgotPassword()}">&{'secure.forgot'}</a>
    </p>

</div>